{erl_opts, [debug_info]}.

{port_specs, [
    {"priv/map_test_nif.so", ["c_src/*.c"]}
]}.

{port_env, [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CFLAGS", "$CFLAGS -O2 -fvisibility=hidden"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS"}
]}.

{plugins, [{pc, "~> 1.15"}]}.

{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{eunit_opts, [verbose]}.
